.icon {
  display: block;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &--burger {
    background-image: url(/images/Icon-Burger-menu.png);
  }

  &--phone {
    background-image: url(/images/Icon-Phone-call.png);
  }

  @media (max-width: 900px) {
    width: 26px;
    height: 26px;
  }

  @media (max-width: 600px) {
    width: 22px;
    height: 22px;
  }
}
