.recommended {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 80px;

  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;

  &__title {
    margin: 0;
  }

  &__label {
    margin: 0;
    color: #d12d35;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    color: #161616;
    font-size: 48px;
    font-weight: 700;
    font-family: cinzel, serif;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__location-title {
    margin: 0 0 16px;
    color: #161616;
    font-size: 24px;
    font-weight: 700;
    font-family: cinzel, serif;
  }

  &__hours {
    display: flex;
    gap: 24px;
    margin-bottom: 8px;
  }

  &__time {
    min-width: 110px;
    color: #161616;
    font-size: 16px;
    font-weight: 700;
  }

  &__days {
    color: #161616;
    font-size: 16px;
    font-weight: 400;
  }

  &__closed-days {
    margin: 16px 0 8px;
    color: #161616;
    font-size: 16px;
    font-weight: 700;
  }

  &__closed-days-text {
    margin: 0;
    color: #161616;
    font-size: 16px;
    font-weight: 400;
  }

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 60px 20px;
  }
}
